@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --azure: #0290ff;
  --black: #121212;
  --pale-grey: #f5f6fa;
  --medium-blue: #307bbe;
}

.container {
  height: 76%;
}

#root {
  width: 100%;
  height: 89.625rem;
  padding-top: 3.313rem;
  background-color: var(--pale-grey);
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.navBar {
  width: 87.5rem;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 30rem;
  height: 2.313rem;
  margin: 0.375rem 2.6rem 0.125rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--azure);
}

.navLink {
  list-style: none;
}

.currentPage {
  color: var(--black);
  opacity: 1;
  font-weight: bold;
}

a {
  text-decoration: none;
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: var(--black);
  list-style: none;
  opacity: 0.5;
}

.userBtn {
  width: 2.813rem;
  height: 2.813rem;
  margin: 0 0 0 35.5rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  border-radius: 100%;
}

.booksPage {
  width: 87.5rem;
  height: 68.563rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book {
  width: 100%;
  height: 10.625rem;
  margin-top: 2.13rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  display: flex;
}

.progressBlock {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circularProgressContainer {
  width: 5.625rem;
  height: 5.625rem;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circularProgress {
  position: absolute;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.percentageCompleted {
  width: 4.25rem;
  height: 2.438rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: var(--black);
}

.statusBook {
  width: 5rem;
  height: 1.125rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  color: var(--black);
  opacity: 0.5;
}

.chapterInfo {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chapterTitle {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: var(--black);
}

.currentChapter {
  width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: var(--black);
}

.updateBtn {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: var(--azure);
  cursor: pointer;
  border: none;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 0.813rem;
  font-family: 'Roboto Slab', serif;
}

.bookInfo {
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.68rem;
}

.bookTitle {
  width: 15.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: var(--black);
}

.bookAuthor {
  width: 8.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.bookActions {
  margin-top: 1.3rem;
  margin-left: -8px;
  width: 50%;
}

.actionBtn {
  padding-left: 7px;
  padding-right: 7px;
  border: none;
  border-right: 1px solid black;
  background-color: transparent;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.actionBtn:hover {
  font-size: 0.9rem;
}

.formContainer {
  margin-top: 4.438rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
  width: 100%;
  height: 50px;
  margin-left: 10%;
}

.bookTitleForm {
  width: 41.5rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding-left: 24px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.bookAuthorForm {
  width: 17.813rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.addBtn {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: var(--azure);
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
}

/* CATEGORÍES STYLES */

.categoriesContainer {
  width: 87.5rem;
  height: 70vh;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categoryText {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  margin-bottom: 24px;
  font-weight: bold;
  color: var(--black);
}

.categoryBtn {
  width: 11.5rem;
  height: 2.813rem;
  border-radius: 3px;
  background-color: var(--azure);
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
}
